<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <img src="assets/images/login - Copy.webp" style="margin-bottom: 50px" />
    <div class="col-md-4"></div>
    <div class="col-md-4 login-form">
      <h2 class="resetpwd">Change Your Password</h2>
      <form [formGroup]="formChangPwd">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
          required
        />
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
          <div *ngIf="f['password'].errors['required']">
            Password is required
          </div>
        </div>
        <br />
        <input
          type="password"
          class="form-control"
          placeholder="New Password"
          formControlName="newpassword"
          [ngClass]="{ 'is-invalid': submitted && f['newpassword'].errors }"
          required
        />
        <div
          *ngIf="submitted && f['newpassword'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['newpassword'].errors['required']">
            Password is required
          </div>
          <div *ngIf="f['newpassword'].errors['pattern']">
            Use at least 7 characters. Use a mix of letters (uppercase and
            lowercase), numbers,special characters and symbols.
          </div>
        </div>

        <br />
        <input
          type="password"
          class="form-control"
          placeholder="Confirm Password"
          formControlName="confirmpwd"
          [ngClass]="{ 'is-invalid': submitted && f['confirmpwd'].errors }"
          required
        />
        <div
          *ngIf="submitted && f['confirmpwd'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['confirmpwd'].errors['required']">
            Confirm Password is required
          </div>
        </div>
        <input
          type="submit"
          class="btn btnsignin"
          value="Submit"
          (click)="btnsubmit()"
        />
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
