.firstnav {
  // background-color: red;
  box-sizing: border-box;
  display: block;
  z-index: 95;
  max-width: 1440px;
  padding: 12px 30px;
  margin: 0 auto;
  position: relative;
  opacity: 1;
  height: 3rem;
}
.india {
  color: #333333;
}
.hrline {
  border-bottom: 1px solid #e3e3e3;
}
.sencondrow {
  height: 4rem;
  display: flex;
  align-items: center;
}
.searchinput {
  border: 0;
  font-family: fugueregular;
  font-size: 17.9px;
  text-transform: lowercase;
  margin: 0 0 0 2.5%;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 3.5px 0;
  width: 225px;
  border: none;
  height: 32px;
  // margin-top: 13px;
}
input:focus,
.searchinput:active {
  outline: none !important;
  box-shadow: none;
}
button:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}
.fa-search {
  color: black;
}
.serachdiv {
  display: flex;
}
input:hover {
  border-bottom: 1px solid black;
}
.btnsearch {
  margin-left: -50px;
}
.img {
  height: 42px;
}
.imageheader {
  text-align: center;
  // margin-top: 13px;
}
.rightbar {
  display: flex;
  justify-content: end;
  // padding: 0 15px 10px;
}
li {
  list-style: none;
  margin-top: 13px;
  font-family: fugueregular;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.nav_item {
  font-family: "fugueregular";
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: lowercase;
  padding: 20px 25px 30px;
  font-weight: bold;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.thirdrow {
  background: #ffeeee;
  height: 3rem;
  padding-bottom: 5px;
  line-height: 1.2;
}
.free {
  color: #000000;
  text-align: center;
  text-transform: none;
  font-family: "fugueregular";
  font-size: 12px;
  letter-spacing: 2px;
  padding: 2px;
  line-height: 0.2;
}
.fourthrow {
  display: flex;
}
.navbarfourth {
  display: flex;
  justify-content: center;
}
.navitem {
  font-family: "fugueregular";
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: lowercase;
  padding: 20px 25px 30px;
  font-weight: bold;
  // cursor: pointer;
  // margin-left: 56px
}
.nav-link {
  font-family: "fugueregular";
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: lowercase;
  padding: 20px 25px 30px;
  font-weight: bold;
  cursor: pointer;
  margin-top: -18px;
  margin-bottom: -27px;
  color: black;
}
.nav-link:hover {
  color: black;
}
.nav-link:active {
  color: black;
}
.header_sticky {
  position: fixed;
  top: 0px;
  align-items: center;
  background-color: #fff;
  z-index: 1111;
  width: 100%;
  margin-top: 0;
  height: auto;
  padding: 5px 0;
}
.account {
  color: black;
  text-decoration: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-family: "Avenir Medium";
  // margin-left: 1.5rem;
  // margin-right: 1.5rem;
}
.header_sticky .img_header {
  width: 130px;
}
.header_sticky .imageheader {
  margin-top: -30px;
}
.header_sticky .searchinput {
  margin-top: 0;
}
.sticky {
  position: fixed;
  top: 3.3em;
  align-items: center;
  background-color: #ffeeee;
  z-index: 1111;
  width: 100%;
  height: 45px;
}
.clothing:hover + .menuitem {
  display: block;
  color: white;
  background-color: red;
}
.dropdown-menu {
  border: none;
  border-radius: 0;
}
.submenu-row {
  height: auto;
  width: 45rem;
}
.mainmenu {
  text-decoration: underline;
}
.collection-menu {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-family: "fugueregular";
}
.collection-menu:hover {
  text-decoration: underline;
}
.myDIV:hover + .hide {
  display: block;
}
.hide {
  display: none;
  &:hover {
    display: block;
  }
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  color: #ffeeee;
}
@media only screen and (max-width: 768px) {
  .india {
    text-align: center;
  }
  .img {
    height: 30px;
  }
}
.cart-count {
  color: #d36d78;
  margin-top: -19px;
  margin-left: 6px;
}
.account:hover {
  color: #d36d78;
}
.mybag:hover {
  color: #d36d78;
}
.mybag {
  color: black;
  text-decoration: none;
  font-family: "Avenir Medium";
}
.wishlist {
  color: black;
  text-decoration: none;
  // padding-left: 1.5rem;
  // padding-right: 1.5rem;
  font-family: "Avenir Medium";
  font-weight: 500;
  cursor:pointer;
  margin-top: 16px;
}
.awish:hover{
  color: #d36d78;
}
.awish{
  color: black;
  text-decoration: none;
}