<div class="container-fluid">
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-4 firstnav">
      <p class="india">NOW SHIPPING TO INDIA</p>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row hrline"></div>
  <div class="row sencondrow">
    <div class="col-md-4">
      <div class="serachdiv">
        <input
          type="text"
          placeholder="Search our store"
          class="form-control searchinput"
        />
        <button class="btn btnsearch"><i class="fa fa-search"></i></button>
      </div>
    </div>
    <div class="col-md-4 imageheader">
      <img
        class="img"
        src="https://cdn.shopify.com/s/files/1/2722/8634/t/72/assets/main-logo2.svg?v=47689786623452027641651157365"
      />
    </div>
    <div class="col-sm-4">
      <ul class="rightbar">
        <li>
          <img
            src="https://flagcdn.com/w20/in.png"
            srcset="https://flagcdn.com/w40/in.png 2x"
            width="20"
            alt="india"
          />
          ₹INR
        </li>
        <li>
          <a routerLink="/login"
            ><img
              src="//cdn.shopify.com/s/files/1/2722/8634/t/72/assets/account-icon.svg?v=180824494737641918611651157365"
              width="20"
              alt="india"
            />
            Account</a
          >
        </li>
        <li>
          <a
            ><img
              src="//cdn.shopify.com/s/files/1/2722/8634/t/72/assets/basket-icon.svg?v=104748243098240364321651157365"
              width="20"
              alt="india"
            />
            my bag</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="row thirdrow">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <a class="free"><p>Free UK Delivery Over £120</p></a>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row fourthrow">
    <div class="col-sm-12">
      <ul class="navbarfourth">
        <li>
          <a class="navitem"> Clothing</a>
        </li>
        <li>
          <a class="navitem"> new in</a>
        </li>
        <li>
          <a class="navitem"> Outlet</a>
        </li>
        <li>
          <a class="navitem"> #lavishalice</a>
        </li>
      </ul>
    </div>
  </div>
</div>
