<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <ngu-carousel
      #myCarousel
      [inputs]="carouselConfig"
      [dataSource]="carouselItems"
      (carouselLoad)="carouselTileLoad($event)"
      class="carousell"
    >
      <div *nguCarouselDef="let item" class="item">
        <img class="homeimage" [src]="item" />
      </div>
      <!-- <button NguCarouselNext class="rightRs">></button>
        <button NguCarouselPrev class="leftRs"><</button> -->
    </ngu-carousel>
  </div>
</div>
<div class="row" style="height: 4rem"></div>
<div class="container">
  <div id="demo" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="0"
        class="active"
      ></button>
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="1"
      ></button>
      <button
        type="button"
        data-bs-target="#demo"
        data-bs-slide-to="2"
      ></button>
    </div>

    <div class="carousel-inner">
      <div class="row">
        <div class="col-4">
          <div class="card senimagecard">
            <img src="assets/images/3-1.webp" />
            <div class="lc-content">
              <h2 class="ctah2">new arrivals</h2>
              <p class="cta">shop now</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card senimagecard">
            <img src="assets/images/3-2.webp" />
            <div class="lc-content">
              <h2 class="ctah2">wedding guest</h2>
              <p class="cta">shop now</p>
            </div>
            <div class="banner-bottom">
              <div class="slant"></div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card senimagecard">
            <img src="assets/images/3-3.webp" />
            <div class="lc-content">
              <h2 class="ctah2">suiting</h2>
              <p class="cta">shop now</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Left and right controls/icons -->
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#demo"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#demo"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>

  <!-- <div class="row">
    <div class="col-4">
      <div class="card senimagecard">1</div>
    </div>
    <div class="col-4">
      <div class="card senimagecard">1</div>
    </div>
    <div class="col-4">
      <div class="card senimagecard">1</div>
    </div>
  </div> -->
</div>

<div class="row" style="height: 4rem"></div>

<div class="container-fluid">
  <div class="row">
    <video
      src="assets/videos/video-1.mp4"
      autoplay
      loop
      controls
      [muted]="'muted'"
    ></video>
  </div>
</div>

<div class="row" style="height: 3rem"></div>
<div class="container">
  <div class="row contentrow">
    <h2 class="LAVISHALICE">#LAVISHALICE</h2>
    <p class="showp">
      Show us what you're loving and<br />
      how you're wearing it.
    </p>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-3 jointcard1">
      <img src="assets/images/j-1.jpg" class="image1" />
    </div>
    <div class="col-3 jointcard2">
      <img src="assets/images/j-2.jpg" class="image2" />
    </div>
    <div class="col-3 jointcard3">
      <img src="assets/images/j-3.jpg" class="image3" />
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-3 jointcard1" style="margin-top: 4px">
      <img src="assets/images/j-4.jpg" class="image1" />
    </div>
    <div class="col-3 jointcard2" style="margin-top: 4px">
      <img src="assets/images/j-5.jpg" class="image2" />
    </div>
    <div class="col-3 jointcard3" style="margin-top: 4px">
      <img src="assets/images/j-6.jpg" class="image3" />
    </div>
    <div class="col-2"></div>
  </div>
</div>

<div class="container">
  <div class="row trending">
    <p class="trendingnow">Trending Now</p>
  </div>
</div>
<owl-carousel-o [options]="customOptions">
  <ng-container *ngFor="let slide of trending_images">
    <ng-template carouselSlide [id]="slide.id">
      <img
        [src]="slide.path"
        style="cursor: pointer; padding: 16px"
        height="500px"
        width="0px"
      />
      <p class="slide_content">{{ slide.content }}</p>
      <p class="slide_content">{{ slide.price }}</p>
    </ng-template>
  </ng-container>
</owl-carousel-o>

<ng-template #content let-modal class="supportmodel">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Leave us a message</h4>
    <button
      type="button"
      class="btn close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true" class="close"> × </span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <!-- <div class="form-group"> -->
        <!-- <div class="input-group"> -->
          <label>Name</label>
          <input class="form-control suppotinput" name="name" />
          <label>Email</label>
          <input class="form-control suppotinput" name="email" />
          <label>How can we help you?</label>
          <textarea class="form-control suppotinput" rows="4" cols="50"></textarea>
          <label>Attachments</label>
          <div class="btn btnfile"><input type="file" class="inputfile"/></div>
        <!-- </div> -->
      <!-- </div> -->
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btnmodelsave"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>
<div class="container-fluid">
  <div class="row" style="height: 4rem">
    <button class="myBtn" title="Go to top" (click)="open(content)">
      <i class="fa fa-question-circle" aria-hidden="true"></i>Support
    </button>
  </div>
</div>
<app-footer></app-footer>
