<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <img
      src="https://cdn.shopify.com/s/files/1/2722/8634/files/E21.2_About-Us-1.jpg?v=1647622850"
    />
    <div class="text-overlay">
      <div class="page-title">About Us</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img
        class="firstimage"
        src="https://cdn.shopify.com/s/files/1/2722/8634/files/About-Us-2_229cefb7-2946-44af-9f47-8ec1c2aa18d0.jpg?v=1643728754"
        alt=""
      />
    </div>
    <div class="col-md-6">
      <p class="firstcontent">
        Lavish Alice is a contemporary label moving at the speed of the
        high-street whilst maintaining luxurious quality and craftsmanship.
        Creating ready-to-wear from a new perspective, Lavish Alice offers a
        fresh and unique mix of femininity with a modern edge.
      </p>
      <p class="firstcontent">
        Minimal Extravagance; Lavish Alice is an international, contemporary
        womenswear label loved by A-List superstars Kendall and Kylie Jenner,
        Gigi Hadid, Ashley Graham, Jessica Biel, Eva Longoria, Olivia Munn and
        Nicole Richie. All of the Fifth Harmony bandmates wore head-to-toe
        Lavish Alice pieces to the Teen Choice Awards 2017.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p class="firstcontent">
        Lavish Alice is a contemporary label moving at the speed of the
        high-street whilst maintaining luxurious quality and craftsmanship.
        Creating ready-to-wear from a new perspective, Lavish Alice offers a
        fresh and unique mix of femininity with a modern edge.
      </p>
      <p class="firstcontent">
        Minimal Extravagance; Lavish Alice is an international, contemporary
        womenswear label loved by A-List superstars Kendall and Kylie Jenner,
        Gigi Hadid, Ashley Graham, Jessica Biel, Eva Longoria, Olivia Munn and
        Nicole Richie. All of the Fifth Harmony bandmates wore head-to-toe
        Lavish Alice pieces to the Teen Choice Awards 2017.
      </p>
    </div>
    <div class="col-md-6">
      <img
        class="firstimage"
        src="https://cdn.shopify.com/s/files/1/2722/8634/files/E21.2_About-Us-3.jpg?v=1647622879"
        alt=""
      />
    </div>
  </div>
</div>
<app-footer></app-footer>
