<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <img src="assets/images/login.webp" style="margin-bottom: 50px" />
    <div class="col-md-4"></div>
    <div class="col-md-4 login-form">
      <h2 class="resetpwd">Reset Your Password</h2>
      <form>
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          required
        /><br />
        <input
          type="password"
          class="form-control"
          placeholder="Confirm Password"
          required
        />
        <input type="submit" class="btn btnsignin" value="Submit" />
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
