.account {
  font-family: Avenir Medium;
  font-weight: 700;
  text-align: center;
  font-size: 1.7rem;
  line-height: 1.7rem;
  margin: 0;
  padding: 0 0 15px;
  margin-top: 32px;
  margin-bottom: -13px;
}
.profilepinkcard {
  gap: 1em;
  font-size: 85%;
  background-color: #f8f8f8;
  padding: 1em;
  align-items: center;
  border: 2px solid white;
  border-radius: 0;
  margin-bottom: 3rem;
  margin-top: 1rem;
  //   height: 34rem;
}
.card_image {
  text-align: center;
}
.profile_sidebar {
  font-family: Avenir Medium;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  line-height: 1.7rem;
  margin: 0;
  padding: 0 0 15px;
  margin-top: 33px;
  cursor: pointer;
}
.profile_sidebar:hover {
  text-decoration: underline;
}
.profile_detail {
  font-family: Avenir Medium;
  font-weight: 500;
  text-align: left;
  font-size: 17px;
  line-height: 1.7rem;
  margin: 0;
  padding: 0 0 15px;
  margin-top: 16px;
  margin-left: 3rem;
}
span {
  font-family: Avenir Medium;
  font-weight: 500;
  text-align: left;
  font-size: 17px;
  line-height: 1.7rem;
  margin: 0;
  padding: 0 0 15px;
  margin-top: 16px;
  margin-left: 3rem;
}
.btneditprofile {
  background: #000;
  color: #fff;
  border: 0;
  width: 100%;
  margin: 20px 0 0;
  text-transform: lowercase;
  padding: 20px 0;
  font-size: 1rem;
  font-family: Avenir Medium;
  border-radius: 0;
  height: 1px;
  line-height: 0;
}
.form-control {
  width: 25rem;
  margin-left: 3rem;
  margin-top: 6px;
  border-radius: 0px;
  border: 1px solid gray;
  margin-right: 3rem;
}
input:focus,
.searchinput:active {
  outline: none !important;
  box-shadow: none;
  border: 2px solid black;
  border-radius: 0px;
}
button:hover {
  box-shadow: none;
  outline: none !important;
}
.btnsubmit {
  background: #000;
  color: #fff;
  border: 0;
  width: 100%;
  margin: 20px 0 0;
  text-transform: lowercase;
  padding: 20px 0;
  font-size: 1rem;
  font-family: Avenir Medium;
  border-radius: 0;
  height: 1px;
  line-height: 0;
  width: 9rem;
  margin-left: 3rem;
}
.pinkcard {
  display: flex;
  flex-wrap: wrap;
}
.card_image {
  flex: 100px 0 0;
  position: relative;
  display: block;
}
.card-detail {
  padding: 0 2vw;
}
.card-ptag {
  color: #000;
  cursor: pointer;
  font-family: Avenir Medium;
  font-size: 16px;
}
::placeholder{
    font-family: Avenir Medium;
    font-weight: 500;
    text-align: left;
    font-size: 17px;
    line-height: 1.7rem;
    margin: 0;
    padding: 0 0 15px;
    margin-top: 16px;
    margin-left: 3rem;
}