<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="gallery-wrapper">
        <ngx-gallery
          [options]="galleryOptions"
          [images]="galleryImages"
          class="ngx-gallery"
        ></ngx-gallery>
      </div>
    </div>
    <div class="col-md-5 clothing_detail">
      <hr />
      <p class="statement">
        statement collar colour block blazer in magenta pink
      </p>
      <p class="rs">Rs. 10,800.00</p>
      <label class="product-variant-select-label">Size:</label>
      <select class="product_select">
        <option class="product_option">UK4 / US0 / EU32</option>
        <option class="product_option">UK6 / US2 / EU34</option>
        <option class="product_option">UK8 / US4 / EU36</option>
        <option class="product_option">UK10 / US6 / EU38</option>
        <option class="product_option">UK12 / US8 / EU40</option>
        <option class="product_option">UK14 / US10 / EU42</option>
        <option class="product_option">UK16 / US12 / EU44</option>
        <option class="product_option">UK18 / US14 / EU46</option>
      </select>
      <div class="iwishAddWrap">
        <a class="iWishAdd">Added to Wishlist</a>
      </div>
      <button class="btn btnsold">sold out</button>

      <label for="checkbox" id="checkboxLabel" class="product_info"
        >PRODUCT INFO</label
      >
      <hr />
      <input type="checkbox" id="checkbox" />
      <div id="stuffToShow">
        <p class="product_content">
          A dreamy colour combo. We have a feeling this power suit is going to
          be a best-seller! Make a statement this season in this chic and
          elegant fit.
        </p>
        <p class="product_content">Material: 95% Polyester 5% Elastane</p>
        <p class="product_content">Care: Hand Wash Only</p>
        <p class="product_content">Model Wears: UK 8 | EU 36 | US 4</p>
        <p class="product_content" style="margin-bottom: 3rem">
          Model's Height: 170cm | 5’7”
        </p>
      </div>
      <label for="checkbox2" id="checkbox2Label2" class="DELIVERY_info"
        >DELIVERY</label
      >
      <hr />
      <input type="checkbox" id="checkbox2" />
      <div id="stuffToShow2">
        <p class="DELIVERY_header">United Kingdom (& Northern Ireland)</p>
        <div class="callout pink">
          <p class="DELIVERY_content">
            Standard Delivery (3 to 5 business days)
          </p>
          <p class="DELIVERY_content_light">
            £4.99 or free if you spend over £120.00
          </p>
          <p class="DELIVERY_content">
            Next Day Delivery (order before 18:00 GMT Monday - Friday)
          </p>
          <p class="DELIVERY_content_light">
            £9.99 or free if you spend over £150.00
          </p>
          <p class="DELIVERY_content">
            Next Day Delivery by 13:00 GMT Guaranteed
          </p>
          <p class="DELIVERY_content_light">
            £14.99 (order before 18:00 GMT Monday - Thursday)
          </p>
          <p class="DELIVERY_content">
            £9.99 or free if you spend over £150.00
          </p>
          <p class="DELIVERY_content_light">
            All deliveries in the United Kingdom are made by Royal Mail and
            orders must be placed before 18:00 GMT for next day delivery. Our
            standard services usually take 24 - 48 hours, however please allow
            up to 5 business days during busy periods.
          </p>
        </div>

        <!-- <input type="checkbox" id="checkbox2" /> -->
        <!-- <div id="stuffToShow2"> -->
        <p class="DELIVERY_header">Republic of Ireland</p>
        <div class="callout pink">
          <p class="DELIVERY_content">Tracked Post (3 to 4 business days)</p>
          <p class="DELIVERY_content_light">Free</p>
          <p class="DELIVERY_content">Standard Courier (2 business days)</p>
          <p class="DELIVERY_content_light">€15.00</p>
          <p class="DELIVERY_content">DHL Air Express (1 business day)</p>
          <p class="DELIVERY_content_light">€20.00</p>
          <p class="DELIVERY_content_light">
            All orders placed within the Republic of Ireland are inclusive of
            all taxes, duties & charges.
          </p>
        </div>
      </div>
      <!-- </div> -->
      <label for="checkbox3" id="checkbox3Label3" class="RETURNS_info"
        >RETURNS</label
      >
      <hr />
      <input type="checkbox" id="checkbox3" />
      <div id="stuffToShow3">
        <p class="RETURNS_content">
          You can find our returns policy here. If you have any questions about
          our returns policy, please contact our customer care team before
          making a purchase or return. You can contact us by emailing
          <a class="emaillink" href="mailto:care@lavishalice.com"
            >care@lavishalice.com</a
          >. All returns must be processed through our dedicated returns portal
          which can be found here at www.lavishalice.com/returns.
        </p>
        <hr />
      </div>
      <p class="question">
        Got a question? <a class="clickhelp">Click for help.</a>
      </p>
      <div class="social_icon">
        <a
          class="aicon"
          href="//www.facebook.com/sharer.php?u=https://lavishalice.com/en-in/products/statement-collar-colour-block-blazer-in-magenta-pink"
        >
          <i
            class="fa fa-facebook-square"
            style="font-size: 29px; padding-left: 12px; padding-right: 3px"
          ></i
          ><span class="fackbook">Share</span></a
        >
        <a
          class="aicon"
          href="//twitter.com/share?text=Statement%20Collar%20Colour%20Block%20Blazer%20In%20Magenta%20Pink&url=https://lavishalice.com/en-in/products/statement-collar-colour-block-blazer-in-magenta-pink"
        >
          <i
            class="fa fa-twitter"
            style="font-size: 29px; padding-left: 12px; padding-right: 3px"
          ></i
          ><span>Tweet</span></a
        >
        <a
          class="aicon"
          href="//pinterest.com/pin/create/button/?url=https://lavishalice.com/en-in/products/statement-collar-colour-block-blazer-in-magenta-pink&media=//cdn.shopify.com/s/files/1/2722/8634/products/LA_SPRING22_ECOM_105068_1024x1024.jpg?v=1653067612&description=Statement%20Collar%20Colour%20Block%20Blazer%20In%20Magenta%20Pink"
        >
          <i
            class="fa fa-pinterest"
            style="font-size: 29px; padding-left: 12px; padding-right: 3px"
          ></i
          ><span>Pin it</span></a
        >
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <h5 class="related">related products</h5>

    <owl-carousel-o [options]="customOptions">

        <ng-container *ngFor="let slide of related_images">
          <ng-template carouselSlide [id]="slide.id">
                <img [src]="slide.path" style="cursor: pointer;">
                <p class="slide_content">{{slide.content}}</p>
                <p class="slide_content">{{slide.price}}</p>
          </ng-template>
        </ng-container>
    
      </owl-carousel-o>


    <!-- <carousel [images]="related_images"  [cellsToShow] = 5 style="height: 25rem;margin-bottom: 2rem;" class="related_images"> </carousel>
    <carousel [images]="related_content"  [cellsToShow] = 5 style="height: 25rem;" class="related_images"> </carousel> -->
  </div>
</div>

<app-footer></app-footer>
