<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <h5 class="contact">Contact us</h5>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h6 class="contact_content">
        JetBlue's header creates a sense of urgency for the visitor. This is
        nice because people visiting this page are likely looking for answers
        quickly — especially if they're troubleshooting an issue right before a
        flight.
      </h6>
      <h6 class="contact_content" style="margin-top: -17px">
        Explain why someone should contact your business.
      </h6>
      <h6 class="contact_content" style="margin-top: -17px">
        Describe how your business can help solve the visitors' problems
      </h6>
      <h6 class="contact_content" style="margin-top: -17px">
        Aside from the obvious pink flamingo, Brandaffair captures the visitor's
        attention with three methods of communication. The map provides the
        exact location of the office, the "Meet Us" section includes a phone
        number and email for general inquiries, and the "Pitch Us" section
        includes a template that helps businesses submit their ideas directly to
        the company for consideration.
      </h6>
      <h6 class="contact_content" style="margin-top: -17px">
        Include an email and phone number so visitors can get in touch with you
        on their first attempt.
      </h6>
      <h6 class="contact_content" style="margin-top: -17px">
        This Contact Us page does two things well: it asks for only the
        information that is necessary (email address) and it displays a video
        that explains exactly how contacting the IMPACT team works. This is a
        helpful experience for the user especially if they are expecting a quick
        response.
      </h6>
      <h6 class="contact_content" style="margin-top: -17px">
        Include a short form using fields that'll help your business understand
        who's contacting them
      </h6>
      <h6 class="contact_content" style="margin-top: -17px">
        Visitors who land on Unbounce's Contact Us page don't have to sift
        through loads of information to find what they need. By choosing from
        just four options, they're likely to find the team they need to get in
        touch with quickly.
      </h6>
      <h6 class="contact_content" style="margin-top: -17px">
        Include a short form using fields that'll help your business understand
        who's contacting them
      </h6>
    </div>
    <div class="col-md-6">
      <form class="contactform" [formGroup]="formContact">
        <label>Name</label>
        <input
          class="form-control"
          formControlName="name"
          type="text"
          placeholder="Name"
          required
          [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
        />
        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
          <div *ngIf="f['name'].errors['required']">name is required</div>
          <div *ngIf="f['name'].errors['minlength']">
            name must be at least 3 characters
          </div>
          <div *ngIf="f['name'].errors['maxlength']">
            name must not exceed 20 characters
          </div>
        </div>
        <br />
        <label>Email</label>
        <input
          class="form-control"
          type="text"
          placeholder="Email"
          formControlName="email"
          required
          [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
        />
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
          <div *ngIf="f['email'].errors['required']">Email is required</div>
          <div *ngIf="f['email'].errors['email']">Email is invalid</div>
        </div>
        <br />
        <label>Phone Number</label>
        <input
          class="form-control"
          type="number"
          placeholder="Phone Number"
          formControlName="phone_number"
          [ngClass]="{ 'is-invalid': submitted && f['phone_number'].errors }"
          required
        />
        <div
          *ngIf="submitted && f['phone_number'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['phone_number'].errors['required']">
            phone_number is required
          </div>
          <div *ngIf="f['phone_number'].errors['pattern']">
            Please, Enter 10 digit Mobile Number.
          </div>
        </div>
        <br />
        <label>Message</label>
        <input
          class="form-control"
          type="text"
          placeholder="Message"
          formControlName="message"
          required
          [ngClass]="{ 'is-invalid': submitted && f['message'].errors }"
        />
        <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
          <div *ngIf="f['message'].errors['required']">Message is required</div>
          <div *ngIf="f['message'].errors['minlength']">
            Message must be at least 3 characters
          </div>
          <div *ngIf="f['message'].errors['maxlength']">
            Message must not exceed 40 characters
          </div>
        </div>
        <br />
        <button class="btn btncontact" (click)="btnSend()">Send</button>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
